@import '~@fortawesome/fontawesome-free/css/all.css';

.resizable-container {
    position: absolute;
    z-index: 999;
    /* background-color: #ff945b15; */
    /* border: 1px solid red; */
}

.resizable-draggable {
    border: 1px solid red;
}

.resizable {
    position: absolute;
    height: 12px;
    width: 12px;
    right: 15px;
    bottom: 15px;
    border: 1px solid red;
}

.draggable {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 18px;
    left: 49%;
    border: 1px solid red;
}

.draggable:hover {
    cursor: move;
}

.resizable:hover {
    cursor: se-resize;
}

.labelId {
    position: absolute;
    color: aliceblue;
    background-color: darkslateblue;
    text-align: center;
    height: 18px;
    width: 18px;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    font-size: x-small;
    cursor: pointer;
}
.resizable-draggable:hover > .labelId {
    display: none;
}

.delete-resizable-draggable {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 15px;
    right: 15px;
    border: 1px solid red;
}

.my-delete-icon {
    display: inline;
}

