@import '~@fortawesome/fontawesome-free/css/all.css';

.resizable-container {
    position: absolute;
    pointer-events: none;
    /* background-color: #ff945b15; */
    /* border: 1px solid red; */
    
}

.resizable-draggable {
    /* border: 1px solid red; */
    pointer-events:all;
}

.resizable {
    position: absolute;
    height: 12px;
    width: 12px;
    right: 9px;
    bottom: 9px;
    /* border: 1px solid red; */
}

.draggable {
    position: absolute;
    height: 12px;
    width: 12px;
    top: 18px;
    left: 48%;
    /* border: 1px solid red; */
}

.draggable:hover {
    cursor: move;
}

.resizable:hover {
    cursor: se-resize;
}

.labelId {
    position: absolute;
    color: aliceblue;
    text-align: center;
    height: 18px;
    width: 18px;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    font-size: x-small;
    cursor: pointer;
    pointer-events: none;
}
.resizable-draggable:hover > .labelId {
    display: none;
}

.delete-resizable-draggable {
    position: absolute;
    height: 18px;
    width: 18px;
    top: 9px;
    right: 9px;
    /* border: 1px solid red; */
}

.my-delete-icon {
    display: inline;
}

